* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

database/scripts/mysql_tuner.pl linguist-vendored=false

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
